.burgerTop{
    background-image: url(../assets/images/top.jpg);
    background-size: 300px;
    height: 110px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.burgerBottom{
    background-image: url(../assets/images/bottom.jpg);
    background-size: 300px;
    height: 60px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.lettuce{
    background-image: url(../assets/images/lettuce.jpg);
    background-size: 300px;
    height: 27px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.tomato{
    background-image: url(../assets/images/tomato.jpg);
    background-size: 300px;
    height: 20px;
    width: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
}

.burgerContainer{
    height: 290px;
    width: 100%;
    overflow: auto;
}